body {
    background-image: url("fon1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
header{
    width: 1300px;
    height: 200px;
    border: 3px solid #EDE89A;
}
#logo{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    
}
#title{
      color: #081B40;
      font-size: 100px;
      position: fixed;
      top: 20px;
      left: 400px;
    
}


ul {
    left:100;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04032F;
}

li {
    float:left;
    border-right:1px solid #F7F9D3;
}

li a {
    display: block;
    color: #F7F9D3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #434C62;
}

.active {
    background-color: #20469E;
}

input[type="search"] {
    width: 500px;
    height: 50px;
    margin-left: 400px;
    margin-right: 0;
    outline: none;
    -webkit-appearance: none;
    border: none;
    text-align: left;
    float: left;
    padding: 10px;
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font: 20px sans-serif;
    background-color: rgba(0,0,0,0);
    border-top: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #e4e2e7;
    color: #9b989e;
}

#button-search {
    float: left;
    margin-top: 100px;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius:20px;
    border: none;
    background: #fff;
    outline: none;
    background-color: rgba(0,0,0,0);
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: #e4e2e7;
}